body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  background-color: #bedcfa;
}

a:hover {
  color: #db6400
}

h1 {
  margin: 0 auto 0 auto;
  position: relative;
  top: 20px;
  font-family: 'Sacramento', cursive;
  font-size: 60px;
}

h2 {
  font-family: 'Nerko One', cursive;
}

h3 {
  font-family: 'Merriweather', serif;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: black;
  border-width: 5px;
  width: 5%;
}

p {
  position: relative;
  top: 20px;
}

.top {
  background-color: #bedcfa;
  position: relative;
  padding-top: 100px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.p1 {
  font-family: 'Nerko One', cursive;
  font-size: 25px;
}

.skills {
  padding-top: 100px;
}

.me {
  padding-top: 20px;
}

.contact-me {
  position: relative;
  padding-top: 100px;
}

.profile {
  position: relative;
  padding-top: 50px;
}

.skills {
  line-height: 2;
}

.skill-row {
  width: 25%;
  margin: auto;
  text-align: left;
  line-height: 2;
  padding: 50px;
}

.code-pic {
  width: 30%;
  float: left;
  margin-right: 30px;
}

.design-pic {
  width: 30%;
  float: right;
  margin-right: 30px;
}

.online {
  width: 30%;
  float: left;
  margin-right: 30px;
}
